@charset "UTF-8";
@import url(font-awesome.min.css);





	





	.inner {
		max-width: 75em;
		margin: 0 auto;
	}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.inner {
				max-width: 90%;
			}

		}

	section.wrapper, article.wrapper {
		padding: 6em 0;
	}

		

			section.wrapper header h2, article.wrapper header h2 {
				font-size: 2.75em;
				margin: 0 0 .5em 0;
			}

			

		section.wrapper article header, article.wrapper article header {
			margin: 0;
		}

		@media screen and (max-width: 980px) {

			section.wrapper, article.wrapper {
				padding: 4em 0;
			}

		}

		@media screen and (max-width: 736px) {

			section.wrapper, article.wrapper {
				padding: 3em 0;
			}

				section.wrapper header, article.wrapper header {
					margin-bottom: 2em;
				}

					section.wrapper header h2, article.wrapper header h2 {
						font-size: 2em;
					}

					section.wrapper header p, article.wrapper header p {
						font-size: .9em;
					}

		}

		@media screen and (max-width: 480px) {

			section.wrapper article, article.wrapper article {
				text-align: center;
			}

		}
/* Flex */

	

/* Form */

	

/* Image */



/* Header */
	#header {
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 2em;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #ffffff;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			font-size: 1em;
		}

			#header .logo strong {
				color: #ffffff;
				font-weight: 600;
			}

		#header a {
			
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0PX 10PX;
			color: inherit;
			text-decoration: none;
			font-size: 15px;
		}	
#header	a.lien:link
{
	color: white;
	background-color:#0ED5C9; 
	border-radius: 10px;
}
		#header	a.lien:hover
{
	color: #0ED5C9;
	background-color: white ;
	font-style: bold;
}
#header a.lien:active
{
	color: red;
	background-color: white ;
	font-style: bold;
}
 




				@media screen and (max-width: 980px) {

					#header a.navPanelToggle {
						display: inline-block;
					}

				}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 980px) {

		#header {
			top: 1em;
		}

	}


	#banner {
		padding: 3.5em;
		background-image: url("../images/entretient.jpg");
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
	}

		#banner:before {
			content: '';
			background: rgba(75, 75, 93, 0.85);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		#banner .inner {
			border-top: 2px solid rgba(255, 255, 255, 0.2);
			position: relative;
			z-index: 10005;
			padding-top: 8em;
		}

		#banner h1 {
			font-size: 3.5em;
			font-weight: 400;
			color: #fff;
			line-height: 1em;
			margin: 0 0 1em 0;
			padding: 0;
		}

		#banner h3 {
			font-weight: 400;
			color: #fff;
			margin: 0;
			font-size: 1.5em;
		}

		#banner .icon {
			color: #6cc091;
			font-size: 2em;
		}

		#banner p {
			font-size: 1em;
			color: rgba(255, 255, 255, 0.55);
			margin-bottom: 1.75em;
		}





/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer {   width: 190px; }
.footer-about p a { border: 0; }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }


@media (min-width: 992px) and (max-width: 1199px) {

	.section-1-box .section-1-box-icon { width: 60px; height: 60px; font-size: 32px; line-height: 60px; }
	
	.footer-top { padding: 40px 0; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.inner-bg { padding: 180px 0; }

	.section-description p { padding: 0; }
	
	.section-1-box .section-1-box-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; }
	
	.section-3-box .section-3-box-icon { width: 50px; height: 50px; font-size: 26px; line-height: 50px; }
	
	.footer-top { padding: 40px 0; }
	.footer-contact i { padding-right: 5px; }

}

@media (max-width: 767px) {

	.inner-bg { padding: 100px 0 80px 0; }
	
	.section-description p { padding: 0; }
	
	.section-1-container { padding-bottom: 60px; }
	.section-1-box { text-align: center; }
	.section-1-box h3 { margin-top: 20px; padding-top: 10px; }
	
	.section-3-box { text-align: center; }
	.section-3-box h3 { margin-top: 20px; padding-top: 10px; }
	
	.footer-top { padding: 40px 0; text-align: center; }
	.footer-contact i { padding-right: 5px; }
	.footer-bottom, .footer-social { text-align: center; }
	.footer-social a { margin: 0 10px; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/*inscription css*/



/* Set a style for all buttons */

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}







/*connecxion*/

.parag1 {
	display: none;
	border: solid #0ED5C9;
left:  5%;
  width: 100%;
  height: 480PX;
 background-color: NONE;
  position: relative;
  
}


label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}
.loginbox{
    width: 320px;
    height: 96%;
    background: #0ED5C9;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


h2{
    margin: 0;
    padding: 0 0 6px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="email"]
{

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;

}

.loginbox a:hover
{
    color: #ffc107;
}


div.azer {
left:  45%;
  width: 50%;
  height: 450px;
 background-color: NONE;
  position: relative;
  
}	
div.parag {
	padding-top: 120px;
left:  0%;
  width: 50%;
  height: 330px;
 background-color: NONE;
  position: absolute;
  
}	
	


