 /* CSS Commun */
 #header .deconnexion{
	position: relative;
	left: 30px;
	top: 0px;
	font-size: 22px;
	color: #0ED5C9;
	font-family: Comic Sans MS;

}

.espace_admin{

	position: relative;
	height: 1030px;
	width: 100%;
	background-color:#FAFAD2;
	
}


.menu_admin{
	background-color: #696969;
	width: 20%;
	height: 1030px;
	left: 0px;
	position:absolute;
	border-right:  solid 2px #0ED5C9;
}


.menu1{

	background-color: #696969;
		border:solid #0ED5C9 1px;
		height: 70px;
		text-justify:justify;
}
.menu2{

	background-color: #696969;
	height: 70px;
	border:solid #0ED5C9 1px;
}
.menu3{

	background-color: #696969;
	height: 70px;
	border:solid #0ED5C9 1px;
}
.menu4{

	background-color:#696969;
	height: 70px;
	border:solid #0ED5C9 1px;
}
.menu5{

	background-color: #696969;
	height: 70px;
	border:solid #0ED5C9 1px;
}

.menu1_a{
	position: relative;
	left: 5px;
	top: 20px;
	font-size: 18px;
	color: white;
	font-family: Comic Sans MS;

}
.menu1_a:hover{
	position: relative;
	left: 5px;
	top: 20px;
	font-size: 18px;
	color:#0ED5C9 ;
	font-family: Comic Sans MS;
	text-decoration: none;

}

.menu1_ad{
	position: relative;
	left: 8px;
	top: 14px;
	font-size: 22px;
	color: #0ED5C9;
	font-family: Comic Sans MS;

}
.menu1_ad:hover{
	position: relative;
	left: 8px;
	top: 14px;
	font-size: 22px;
	color: white;
	font-family: Comic Sans MS;
	text-decoration: none;

}

.menu_image{

	height: 35px;
	padding-right: 10px;
}
.menu_image1{

	height: 115px;
	padding-right: 0px;
}

/* CSS adminstrateur */

.activite{
	visibility:  visible;
	background-color: none;
	width: 80%;
	height: 1030px;
	position: absolute;
	left: 20%;
}

.activite_hidden{
	visibility: hidden;
	background-color: none;
	width: 80%;
	height: 1030px;
	position: absolute;
	left: 20%;
}
.activite_h{
	position: relative;
	top: 0px;
	height: 100px;
	background-color: none;

}
.activite_message{
	height: 900px;
	background-color: none;
	
}

.activite_h1{
	position: relative;
	width: 50%;
	left: 25%;
	top: 35px;
	font-size: 32px;
	color: #0ED5C9;
	font-family: Comic Sans MS;
	text-align: center;

}

.tout_afficher{
		position: relative;
		left: 85%;
		top:9px;
		background-color: white;
		width: 150px;
		height: 50px;
		color: #0ED5C9 ;
		
		border: 3px #0ED5C9 solid ;
	

}


.tout_afficher_offre{
		top:100px;
		position: relative;
		left: 37%;
		margin-top:70PX;
		background-color: white;
		width: 250px;
		height: 50px;
		color: #0ED5C9 ;
		font-weight: bold;
		border: 3px #0ED5C9 solid ;
	

}
.tout_afficher_offre:hover{
		position: relative;
		left: 37%;
		margin-top:70PX;
		background-color: #0ED5C9;
		width: 250px;
		height: 50px;
		color: white ;
		font-weight: bold;
		border: 3px white solid ;
	


}
.table1 {
  
  width: 100%;
  background-color: violet;
  table-layout: fixed;
  border: solid 1px black ;
}

.colonne_simple {
  
  background: #f6f6f6;
}
.colonne_simple:nth-of-type(even) {
  background: #e9e9e9;
}
.colonne_bar {
  font-weight: 900;
  color: white;
  background: #0ED5C9;
}


.ceuille {
  padding: 6px 12px;
  
}



.images_plus{
	top: 10px;
	height: 40px;
	width: 40px;
	position: relative;
	left: 95%;
}


.input_profile{
	height: 30px;  border: solid 1px #0ED5C9; background-color: white;color: black;
}

.input_info{
	height: 30px;  border: solid 1px #0ED5C9; background-color: white;color: black; position: relative; left: 30px;
}


.tr_info{
	
	font-weight: bold;
	margin-bottom : 10px;
	height: 50px;


}
.td_info_left{
	color: black; font-family: Comic Sans MS;
}
.td_info_right{
	color: #0ED5C9; font-family: Comic Sans MS;
}

.table_info{
	table-layout: fixed;
	
	width: 30%;
	height: 50PX;
	position: relative;
	left: 80px;

}

/* CSS Recruteur */

.espace_rectuteur{

	position: relative;
	height: 1200px;
	width: 100%;
	background-color:#FAFAD2;
	
}

.menu_recruteur{
	background-color: #696969;
	width: 20%;
	height: 1200px;
	left: 0px;
	position:absolute;
	border-right:  solid 2px #0ED5C9;
}
.activite_r{
	
	width: 80%;
	height: 100%;
	position: absolute;
	left: 20%;
	background-color: white;
	
}
.activite_inter{
	border: 0.1px solid white;
	height: 250px;
	background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: scroll;
    
}

.Recruteur_h
{

	margin-top: 60px;
	right: 50px;
	border-radius: 50px;
	font-weight: bold;
	color: white;
	width: 50%;
	background-color: #0ED5C9;
	text-align: center;
	position: relative;
	animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  
}
@keyframes example {
  
  from {left:  0px; }
  to {left:  250px; }
}
.div_recherche
{
	top: 50px;
	left: 250px;
	position: relative;
	height: 50px;
	
	padding: 0px;
	width: 44%;
	


}
.recherche_input{
	width: 400px;
	
	position: relative;
	top: 0px;
	padding-left: 0px;
	height: 100%;
	border-radius: 30px;
	border: solid 1px white;
	background-color: white;
}
.recherche_input:focus{
	width: 400px;
	color:white; 
	position: relative;
	top: 0px;
	padding-left: 0px;
	height: 100%;
	border-radius: 30px;
	border: solid 1px white;
	background-color: #0ED5C9;
}

.recherche_image{
	position: relative;
	bottom: 45px;
	left: 410px;
	height: 45px;
}

.gener_image{
	height: 25px;
}
.Recruteur_span{
	position: absolute;
	left: 0px;
	color: #0ED5C9;
	font-weight: bold;
	border: solid 1px white;
	background-color: white;
	border-radius: 50px;
}
.a_publier{

	position: absolute;
	margin-top: 45px;
	margin-left: 250px;
	border: solid #0ED5C9;
	color: white;
	border-radius: 50px;
	padding: 10px;
	width: 250px;
	text-align: center;
	background-color: rgba(108, 192, 145, 0.15);
	font-weight: bold;
}
.a_publier:hover{

	position: absolute;
	margin-top: 45px;
	margin-left: 250px;
	border: solid #0ED5C9;
	color: #0ED5C9;
	border-radius: 50px;
	padding: 10px;
	width: 250px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	text-decoration:none;
}
.a_rechercher{

position: absolute;
	margin-top: 45px;
	margin-left: 550px;
	border: solid #0ED5C9;
	color: white;
	border-radius: 50px;
	padding: 10px;
	width: 250px;
	text-align: center;
	background-color: rgba(108, 192, 145, 0.15);
	font-weight: bold;
	text-decoration:none;
}
.a_rechercher:hover{

position: absolute;
	margin-top: 45px;
	margin-left: 550px;
	border: solid #0ED5C9;
	color: #0ED5C9;
	border-radius: 50px;
	padding: 10px;
	width: 250px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	text-decoration:none;
}

.activite_recruteur_h{
	position: relative;

	height: 50px;
	width: 90%;
	left: 40px;
	top: 35px;
	font-size: 26px;
	color: #0ED5C9;
	font-family: Comic Sans MS;

	border-spacing:  5px;
	border-color: #0ED5C9;
	text-align: center;
	background-color: white;
	padding: 7px;

}
.table2 {
	position: relative;
  top: 20px;
  left: 40px;
  width: 90%;
  
  background-color: violet;
  display: table;
  border: solid 1px BLACK ;
}

/* CSS Candidat */

.candidat_h
{

	margin-top: 60px;
	
	height: 97px;
	font-weight: bold;
	color: white;
	width: 75%;
	background-color: #0ED5C9;
	border-bottom-right-radius: 36px;
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	position: relative;
	animation-name: candidat;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  text-align: center;
}

.candidat_trouvez{
	position: relative;
	left: 0px;
	color: white;
	font-weight: bold;
	margin-bottom: 0PX;
	
	background-color: #0ED5C9;
	border-radius: 50px;
}

.candidat_parmi{
	position: relative;
	left: 0px;
	
	color: #0ED5C9;
	font-weight: bold;
	
	background-color: white;
	border-bottom-left-radius: 36px;
	border-bottom-right-radius: 36px;
}
@keyframes candidat {
  
  from {left:  0px; }
  to {left:  100px; }
}
.activite_inter_candidat{
	border: 0.1px solid white;
	height: 300px;
	background-image: url("../images/entreprise.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    
}







.clear {
  clear: both; }



.container1 {
  
  position: relative;
  margin: 0 auto;
  background: #fff; }

.signup-img, .signup-form {
  width: 50%; }

.signup-img {
  margin-bottom: -7px; }

.register-form {
  padding: 50px 100px 50px 70px; }

.form-row {
  margin: 0 -15px; }
  .form-row .form-group {
    width: 50%;
    padding: 0 5px; }

.form-group {
  margin-bottom: 2px;
  position: relative; }

input, select {
  display: block;
  width: 40%;
  border: 1px solid #AAA4A4;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px; }
  input:focus, select:focus {
    border: 1px solid #ff6801; }

label {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-bottom: 2px;
  display: block; }

.form-radio {
  margin-bottom: 18px; }
  .form-radio input {
    width: auto;
    display: inline-block; }

.radio-label {
  padding-right: 75px; }

.form-radio-item {
  position: relative;
  margin-right: 25px; }
  .form-radio-item label {
    font-weight: 500;
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    z-index: 9;
    display: block;
    cursor: pointer; }

.check {
  display: inline-block;
  position: absolute;
  border: 1px solid #0ED5C9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 13px;
  width: 13px;
  top: 4px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }
  .check:before {
    position: absolute;
    display: block;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; }

input[type=radio] {
  position: absolute;
  visibility: hidden; }
  input[type=radio]:checked ~ .check {
    border: 1px solid #0ED5C9; }
  input[type=radio]:checked ~ .check::before {
    background: #0ED5C9; }

.form-select {
  position: relative; }

select {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  position: relative;
  background: 0 0;
  z-index: 10;
  cursor: pointer; }

.select-icon {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .select-icon i {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    width: 40px;
    height: 20px;
    font-size: 18px;
    color: #999; }

.form-submit {
  text-align: right;
  padding-top: 27px; }

.submit {
  width: 140px;
  height: 40px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  padding: 10px;
  border: none;
  cursor: pointer;
  padding-bottom: 10px; }

#reset {
  background: #f8f8f8;
  color: #999;
  margin-right: 8px; }
  #reset:hover {
    background: #ff6801;
    color: #fff; }

#submit {
  background: #0ED5C9;
  color: #fff; }
  #submit:hover {
    background-color: #cd5300; }

@media screen and (max-width: 992px) {
  .container1 {
    width: calc(100% - 40px);
    max-width: 100%; }

  .signup-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .signup-img, .signup-form {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .register-form {
    padding: 50px 40px 50px 40px; } }
@media screen and (max-width: 575px) {
  .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px; }

  .form-row .form-group {
    width: 100%;
    padding: 0px; }

  .radio-label {
    padding-right: 22px; }

  .form-radio-item {
    margin-right: 25px; } }
@media screen and (max-width: 480px) {
  .form-radio {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .submit {
    width: 100%; }

  #reset {
    margin-right: 0px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
